.lightblue {
	background-color: #7EC0EE;
}

.gray {
	background-color: #DDDDDD;
}

.required {
	font-weight: bold;
}

.some-margin {
	margin-top: 5px;
}

.borderOn {
	border: 1px solid black;
	text-align: center;
}

h1,h2,h3 {
	text-align: center;
	font-family: GreatVibes;
}

@font-face {
    font-family: GreatVibes;
    src: url(fonts/GreatVibes-Regular.otf);
}

header {
}

span {
	font-style: italic;
}

p {
	font-style: italic;
}

a {
	padding-right: 10px;
}

section {
	width: 100%;
	height: auto;
	float: left;
}

aside {
	width: 15%;
	float: left;
	height: auto;
	background-color: #00FFFF;
}

footer {
    position: relative;
    clear: both;
	text-align: center;
}

a:link {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: gray;
}

a:active {
	color: red;
	text-decoration: none;
}

a:hover {
	color: green;
	font-weight: bold;
}