#topmain {
    text-align:center;
}

#image {
	background-image: url(MakingMovies.jpg);
	width: 300px;
	height: 300px;
	background-size: 300px 300px;
	margin: 0 auto;
}

.gray {
	background-color: #CCCCCC;
}

.greatvibes {
	font-family: GreatVibes;
}


@font-face {
    font-family: GreatVibes;
    src: url(fonts/GreatVibes-Regular.otf);
}

li {
	font-style: italic;
}

a:link {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: red;
	text-decoration: none;
}

a:active {
	color: red;
	text-decoration: none;
}

a:hover {
	color: green;
	text-decoration: underline;
}

th {
	font-style: normal;
	border: 1px solid black;
}

tr {
	text-align: center;
	font-style: italic;
	border: 1px solid black;
	background-color: #EEEE00;
}

td {
	border: 1px solid black;
}

