.lightblue {
	background-color: #7EC0EE;
}

.gray {
	background-color: #DDDDDD;
}

.required {
	font-weight: bold;
}

h1 {
	text-align: center;
	font-family: GreatVibes;
}

@font-face {
    font-family: GreatVibes;
    src: url(fonts/GreatVibes-Regular.otf);
}

header {
}

a {
	padding-right: 10px;
}

section {
}

footer {
	text-align: center; 
}