#topmain {
    text-align:center;
}

#image {
	background-image: url(MakingMovies.jpg);
	width: 300px;
	height: 300px;
	background-size: 300px 300px;
	margin: 0 auto;
}

.greatvibes {
	font-family: GreatVibes;
}


@font-face {
    font-family: GreatVibes;
    src: url(fonts/GreatVibes-Regular.otf);
}

li {
	font-style: italic;
}

tr {
	text-align: center;
	border: 1px solid black;
}

td {
	border: 1px solid black;
}