#topmain {
    text-align:center;
}

#image {
	background-image: url(MakingMovies.jpg);
	width: 300px;
	height: 300px;
	background-size: 300px 300px;
	margin: 0 auto;
}

tr {
	text-align: center;
}

td {
	border: 1px solid black;
}